# Environments
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
node_modules/
jspm_packages/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# OS related
Thumbs.db
db.cache
ehthumbs.db
desktop.ini
.DS_Store
